<!DOCTYPE html>
<html>
<title>My chat</title>

<div class="container">
<div class="left_side">
<div class="left_side_header">
<input type="text" placeholder="Search or start new chat">
</div>
<div class="title">
    <h1>Chats</h1>
</div>
<div (click)="messages1()" class="conversation1">
<img src='assets/image/avatar3.png'>
<h1>Alice Freeman<p>You are the worst!</p></h1>
<span>Jun 10,2018</span>
</div>
<div (click)="messages2()" class="conversation2">
<img src='assets/image/avatar1.png'>
<h1>Velazquez<p>Quickly come to the meeting<p>room 1B</p></h1>
<span>May 08,2018</span>
</div>
<div (click)="messages3()" class="conversation3">
<img src='assets/image/avatar2.png'>
<h1>Mike<p>We are losing money!<p>Quick!</p></h1>
<span>Feb 03,2018</span>
</div>
</div>
<div class="right_side">
<div class="messages1" *ngIf="show">
<div class="messages1_header">
<img src='assets/image/avatar3.png'>
<h1>Alice Freeman</h1>
</div>
<div class="content">
<img src='assets/image/avatar3.png'>
<p>Quick i need your help now</p>
<span class="datatime">10/06/18, 4:00 AM</span>
<span class="me">I can`t now</span>
<span class="datatime2">10/06/18, 4:05 AM</span>
<img src='assets/image/avatar3.png' class="contact_img">
<p class="contact">You are the worst!</p>
<span class="datatime3">10/06/18, 4:10 AM</span>
</div>
<div class="placeholder_messages">
<input type = "text" placeholder="Type your message" (keydown.enter)="sendMessage()" [(ngModel)]="message">
<div class="message_text" *ngFor="let userMessage of conversation">
    {{userMessage}}
</div>
</div>
<div class="message_answer" *ngFor="let joke of jokes">
    {{joke.value}}
</div>
</div>
<div class="messages2" *ngIf="show2">
<div class="messages2_header">
<img src='assets/image/avatar1.png'>
<h1>Velazquez</h1>
</div>
<div class="content">
<img src='assets/image/avatar1.png'>
<p>Quick i need your help now</p>
<span class="datatime">08/05/18, 2:05 AM</span>
<span class="me">What`s wrong?</span>
<span class="datatime2">08/05/18, 2:10 AM</span>
<img src='assets/image/avatar1.png' class="contact_img">
<p class="contact">Quickly come to the room 1B</p>
<span class="datatime3">08/05/18, 2:11 AM</span>
</div>
<div class="placeholder_messages">
<input type = "text" placeholder="Type your message" (keydown.enter)="sendMessage()" [(ngModel)]="message">
<div class="message_text" *ngFor="let userMessage of conversation">
    {{userMessage}}
</div>
</div>
<div class="message_answer" *ngFor="let joke of jokes">
    {{joke.value}}
</div>
</div>
<div class="messages3" *ngIf="show3">
<div class="messages3_header">
<img src='assets/image/avatar2.png'>
<h1>Mike</h1>
</div>
<div class="content">
<img src='assets/image/avatar2.png'>
<p>Quick come here!</p>
<span class="datatime">03/02/18, 6:08 PM</span>
<span class="me">What`s wrong?</span>
<span class="datatime2">03/02/18, 6:09 PM</span>
<img src='assets/image/avatar2.png' class="contact_img">
<p class="contact">We are loosing money! Quick</p>
<span class="datatime3">03/02/18, 6:11 PM</span>
</div>
<div class="placeholder_messages">
<input type = "text" placeholder="Type your message" (keydown.enter)="sendMessage()" [(ngModel)]="message">
<div class="message_text" *ngFor="let userMessage of conversation">
    {{userMessage}}
</div>
</div>
<div class="message_answer" *ngFor="let joke of jokes">
    {{joke.value}}
</div>
</div>
</div>
</div>

</html>